/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********************************************************************************/
/* header-wrapper                                                                */
/*********************************************************************************/
body {
	width:100%;
	margin: 0;
	background-color: #F2F2F2;
	font-family:'微軟正黑體';
}


/*header背景*/
#header-wrapper {
	width:100%;
	height: 6em;
	background-color: #FF8110;
	margin-bottom: 2em;
}
/*header透明block_避免header按鈕浮動*/
#block_FixNavBar{
	width:1200px;
	margin:0 auto;
}

#logo img {
	position:relative;
	display:inline-block;
	float:left;
	width: 8em;
	padding-left:2em;
	padding-top: 1.5em;
}
#logo::after{
	clear: both;
}

#Left-nav{
	position:relative;
	float:left;
	margin-top:1.2em;
	font-weight: bold;
	font-size: 1.1em;
}
#Left-nav li{
	display: inline-block;
	margin-left: 3em;
}
/*link*/
#Left-nav a{
	text-decoration: none;
	color: white;
}
#Left-nav a:link {	color: white;}　　　
#Left-nav a:visited {	color: white;}　   
#Left-nav a:active{	color: white;}　　   
#Left-nav a:hover{	color: white;}         

#Right-nav{	
	position:relative;
	float:right;
	margin-top:0.8em;
	margin-right: 2em;
	font-size: 0.9em;
}
#Right-nav li{
	display: inline-block;
	margin: 1em;
}
/*link*/
#Right-nav a{
	text-decoration: none;
	color: white;
}
#Right-nav a:link {	color: white;}　　　
#Right-nav a:visited {	color: white;}　   
#Right-nav a:active{	color: white;}　　   
#Right-nav a:hover{	color: white;}         

/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
h2{
padding-left:4em;}
.IndexContent-box{
	width: 1000px;
	height:300px;
	background-color: #DDDDDD;
	margin: 0 auto;
	padding:6px;
	/*padding-left:10px;*/
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.LatestEvent-box, .HotEvent-box{
	position: relative;
	display: inline-block;
	height: 280px;
	background-color:#E5E5E5;
	width:236px;
	margin: 4px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.HotArcitle-box{
	position: relative;
	display: inline-block;
	height: 280px;
	background-color:#E5E5E5;
	width:483px;
	margin: 4px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}



/*
.text{
	clear: both;
	background-color:orange;
	text-align: center;
	padding: 5px;
	margin-top: 0px;
}
*/
/*********************************************************************************/
/* content of event                                                              */
/*********************************************************************************/
#inline { display: none; width: 600px; }




.event_add
{
	height:2em;
	padding-left: 70em;
}
.event_block
{
	border-radius: 0.5em;
	height:30em;
	width: 20em;
	background-color: #ffe187;
	display: block;
	float: left;
	margin-right: 2em;
	margin-left: 3em;
	margin-top: 2em;
	margin-bottom: 2em;
}
 .event_block img
{
	border-radius: 0.5em;
	height:18em;
	width: 18em;
	padding-left: 1em;
	padding-top: 1em;
	margin:0 auto;
}
.event_info ul
{
	list-style-type: none;
	line-height: 1.5em;
}

/*********************************************************************************/
/* content of eventdetail                                                        */
/*********************************************************************************/

section{
	width: 800px;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: rgb(234 , 97 , 48);
}
a:link 
{
	color: rgb(234 , 97 , 48);
}　　　　/*//宣告連結顏色*/
a:visited 
{
	color: rgb(234 , 97 , 48);
}　   　 /*//訪問過連結顏色*/
a:active
{
	color: rgb(234 , 97 , 48);
}　　     /*//執行中連結顏色*/
a:hover
{
	color: rgb(234 , 97 , 48);
}             /*//當滑鼠移到連結時連結顏色*/


.title
{
	text-align:center;
	font:36px/0.3 '微軟正黑體',sans-serif;	
	
	/*版塊樣式*/
	color: #FFFFFF;
	background-color: #333333;
	width:800px;
	/*height:150px;*/
	margin:1em auto;
	padding:.8em 0;

}

.event_photo
{
	height:25em;
	width: 20em;
	display: block;
	float: right;
}
 .event_photo img
{
	border-radius: 0.5em;
	height:18em;
	width: 18em;
	padding-right: 1em;
/*	padding-top: 1em;*/
	margin:0 auto;
}

.eventDetail_info
{

	color: #333333;
	font:1em/3em '微軟正黑體',sans-serif;
	float:left;

	border-radius: 2em;
	line-height:2.2em;
	letter-spacing:0em;

		margin-left: 1em;
/*	margin-top: 2em;*/
/*	margin-bottom: 2em;*/
}

.eventDetail_info li
{	
	list-style-type:none;
}

.main_up
{
	width:800px;
	height: 450px;
	color: #333333;
	background-color: #e5e4e4;
}

.shareBtn
{
	clear:both; 
	text-align:center;
	background-color:rgb(255,220,95);
	border-radius: 2em;
	
	/*版塊樣式*/
	color: #FFF;
	background-color:  #333333;
	width:700px;
	margin:0 auto;
	border-radius: 0.5em;
	padding:1em;
}

.eventDetail_detail
{
	/*版塊樣式*/
	color: #333333;
	background-color: #e5e4e4;
	width:700px;
	margin:1em auto;
	border-radius: 0.5em;
	padding:.6em 2em;
	font:1em/3em '微軟正黑體',sans-serif;

}

/*********************************************************************************/
/* search-bar                                                                    */
/*********************************************************************************/

#mwt_mwt_slider_scroll
{
	top: 0;
	right:-200px;
	width:200px;	
	position:fixed;
	z-index:9999;
}


#mwt_slider_content{
	background:#ffb964;
	text-align:right;
	padding-top:20px;
	width:200px;
	padding-right: 1.2em;
}
#mwt_slider_content h3
{
	color:rgb(195,55,30);
}
#mwt_slider_content ul
{
	color:black;
	list-style-type: none;
}
#mwt_slider_content li
{
	line-height: 1.5em;
}
 
#mwt_fb_tab {
	position:absolute;
	top:170px;
	left:-24px;
	width:24px;
	background:#ffb964;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;	
	text-align:center;
	padding:9px 0;
 
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;	
}
#mwt_fb_tab span {
	display:block;
	height:12px;
	padding:1px 0;
	line-height:12px;
	text-transform:uppercase;
	font-size:12px;
}

.search label{
    font-size:0.75em;
    font-weight:bold;
    color:#333;
    text-indent:-9999em;
    display:block;
    float:left;
}
.search input[type="text"]{
    text-indent:1px;
    padding:0 0 0 22px;
    width:0;
    height:22px;
    background:url(http://www.ian-thomas.net/examples/search-icon.png)2px 2px no-repeat, -webkit-linear-gradient(top, rgba(100,100,100,1) 0%,rgba(80,80,80,1) 10%,rgba(22,22,22,1)100%);
    color:#999;
    line-height:20px;
    font-weight:bold;
    -webkit-text-shadow:1px 1px 1pxrgba(0,0,0,0.05);
    text-shadow:1px 1px 1pxrgba(0,0,0,0.05);
    -webkit-border-radius:6px;
    -webkit-box-shadow:1px 1px 0rgba(0,0,0,0.125);
    cursor:pointer;
     width:150px;
}
.search input[type="text"]:focus{
    width:150px;
    outline:none;
    background:url(http://www.ian-thomas.net/examples/search-icon.png)2px 2px no-repeat, -webkit-linear-gradient(bottom,rgba(100,100,100,1) 0%, rgba(40,40,40,1) 2%, rgba(22,22,22,1)100%);
    -webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.125);
    cursor:text;
}

/*********************************************************************************/
/* content of shareTable                                                         */
/*********************************************************************************/
a{
	text-decoration: none;
	color: rgb(234 , 97 , 48);
}
a:link 
{
	color: rgb(234 , 97 , 48);
}　　　　/*//宣告連結顏色*/
 a:visited 
{
	color: rgb(234 , 97 , 48);
}　   　 /*//訪問過連結顏色*/
a:active
{
	color: rgb(234 , 97 , 48);
}　　     /*//執行中連結顏色*/
a:hover
{
	color: rgb(234 , 97 , 48);
}             /*//當滑鼠移到連結時連結顏色*/


.thoughts_title
{
	height:5em;
}

.thoughts_title h2
{
	color: rgb(250 , 80 , 5);
	display:inline;
	float:left;
	padding-left: 2em;
}
.thoughts_title h3
{
	color: rgb(255 , 185 , 100);
	display:inline;
	float:right;
	padding-right: 2em;
}
.thoughts_table
{
	margin-left: 4.5em;
}
.thoughts_table .feedback
{
	height:15em;
	width:50em;
	margin-bottom: 2em;

}
.thoughts_table .photo1, .thoughts_table .photo1 img
{
	height:15em;
	width:15em;
	float: left;
	margin-right: 2em;
}
.thoughts_table .article1
{
	padding-left: 1em;
}
/*********************************************************************************/
/* content of ngo                                                                */
/*********************************************************************************/
.thoughts_title
{
	height:5em;
}

.thoughts_title h2
{
	color: rgb(250 , 80 , 5);
	display:inline;
	float:left;
	padding-left: 2em;
}
.thoughts_title form
{
	display:inline;
	float:right;
	padding-right: 2em;
}
.thoughts_table
{
	margin-left: 3em;
}
.thoughts_table .feedback
{
	height:10em;
	width:100em;
	margin-bottom: 2em;

}
.thoughts_table .photo1, .thoughts_table .photo1 img
{
	height:10em;
	width:10em;
	float: left;
	margin-right: 2em;
}
.thoughts_table .article1
{
	padding-left: 1em;
}

.ngo_block
{
	color: rgb(195 , 55 , 30);
	border-radius: 0.5em;
	height:25em;
	width: 20em;
	background-color: #ffe187;
	display: block;
	float: left;
	margin-right: 2em;
	margin-left: 3em;
	margin-top: 2em;
	margin-bottom: 2em;
}
 .ngo_block img
{
	border-radius: 0.5em;
	height:18em;
	width: 18em;
	padding-left: 1em;
	padding-top: 1em;
	margin:0 auto;
}
.ngo_info ul
{
	font-size: 1.5em;
	list-style-type: none;
	line-height: 1.5em;
}
.ngo_block a{
	text-decoration: none;
	color: rgb(195 , 55 , 30);
}
/*********************************************************************************/
/* content  of About                                                             */
/*********************************************************************************/
#aboutView .content{
	padding-bottom: 8em;
}
#aboutView .content .introduction, 
#aboutView .content .QA, 
#aboutView .content .contact{
	padding-left: 2em;
}
#aboutView .content .detail{
	padding: 0 4em 1em 2em;
}
#aboutView .content hr{
	margin-top: 2em;
	height: 3px;
	border: none;
	border-top: 2px solid rgb(250 , 80 , 5);
	width: 98%;
}
#aboutView .content h2
{
	color: rgb(250 , 80 , 5);
	line-height: 3em;
	padding-left: 1em;
}
.introduction .detail #title{
	text-align: center;
}
.introduction .detail ul{
	margin-top: 3em;
	line-height: 2em;
}
.introduction .detail span{
	font-size: 1.2em;
}
.QA .detail ul{
	list-style-type: none;
	line-height: 2em;
}
.QA .detail ul li{
	margin-top: 2em;
}
#aboutView .contact .detail h5{
	font-size: 1.1em;
	float: right;
	margin-right: 10em;
}
/*********************************************************************************/
/* footer                                                                        */
/*********************************************************************************/
footer{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	font-size: 1em;
	color: rgb(234 , 97 , 48);
	clear:both;
	background-color: rgb(255 , 222 , 94);
	height: 18em;
	text-align: center;
}
footer a{
	text-decoration: none;
	color: rgb(234 , 97 , 48);
}
footer a:link 
{
	color: rgb(234 , 97 , 48);
}　　　　/*//宣告連結顏色*/
footer a:visited 
{
	color: rgb(234 , 97 , 48);
}　   　 /*//訪問過連結顏色*/
footer a:active
{
	color: rgb(234 , 97 , 48);
}　　     /*//執行中連結顏色*/
footer a:hover
{
	color: rgb(234 , 97 , 48);
}             /*//當滑鼠移到連結時連結顏色*/

footer ul{
	width: 100%;
	margin: 0;
	padding: 0;
	display: table;
	list-style-type: none;
	line-height: 5em;
}
footer li
{
	display: table-cell;
}
footer img
{
	width: 100%;
}
